* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family:'Inter', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#root {
  width: 19.8125rem;
}

img,
svg {
  max-width: 100%;
  display: inline-block;
}

a {
  text-decoration: none;
}

.flex {
  display: flex;
}

.info--image {
  height: 19.8125rem;

}

.main--content {
  height: 44.75rem;
}

.my--name {
  font-weight: 700;
  font-size: 1.5625rem;
}

.my--role,
.my--site{
  font-weight: 400;
}

.my--role {
  font-size: 0.8rem;
  color: #F3BF99;
}

.my--site {
  font-size: 0.64rem;
}

.btn {
  font-weight: 500;
  font-size: 0.875rem;
}

.linkedin,
.email {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1.14em;
  padding: 0.6429em 0.9286em 0.6429em 0.7857em;
  border-radius: 0.4286em;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
}

.email {
  background: #FFF;
  border: 1px solid #D1D5DB;
}

.email,
.mail{
  color: #374151;
}

.linkedin {
  background: #5093E2;
  border: 0;
  color: #FFF;
}

.intro--icon {
  margin-right: 0.5714em;
}